*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

 header {
     background-color: rgb(234, 238, 232);
     width: 100%;
     position: fixed;
     z-index: 999;
     display: flex;
     justify-content:space-between;
     align-items: center;
     padding: 10px 200px;
 }

.logo{
    text-decoration: none;
    color:rgb(47, 15, 231);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

    }
    .navigation a{
        color: rebeccapurple;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        padding-left: 30px;  
    }
    .navigation a:hover{
        color: rgb(255, 0, 170);
    }
    section{ 
        padding: 100px 50px;
    }
    .main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(assets/نظارة\ رائعة.jpg) no-repeat ;
        background-size:cover;
        background-position:center;
        background-attachment: fixed;
    }
/*Start of projects services*/
    .main h2{
        color: rgb(255, 255, 255);
        font-size: 1.4em;
        font-weight: 500;
    }
    .main h2 span{
        display: inline-block;
        margin-top: 10px;
        color: aqua;
        font-size: 3em;
        font-weight: 600;
    }
    .main h3 {
        color: #ffffff;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
        margin:0px;
    }
    
    .main-btn {
        color: #fff;
        background-color: rgb(76, 76, 233);
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
        padding: 0.9375em 2.1875em;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;
        transition: 0.7s ease;
    }
    .main-btn:hover {
        background-color:blue;
        transform: scale(1.1);
    }
    .social-icons a{
        color: #ffffff;
        font-size: 1.7em;
        padding-right: 30px;
    }
    .title{
        display: flex;
        justify-content: center;
        color: blue;
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 30px;
        text-decoration: ;
    }
    .content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        background-color: #fff;
        width: 21.25em;
        box-shadow: 0 5px 25px rgba(1,1, 1 , 15%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
    }
    .card:hover{
        transform: scale(1.1);
    }
    .icon{
        color: #6f1ef0;
        font-size: 8em;
        text-align: center;
    }
    .info{
        text-align: center;
    } 
    
    .info h3{
        color: blue;
        font-size: 1.2em;
        font-weight: 700;
        margin: 10px;
    }
/*Start of projects projects*/
    .project-card{
        background-color: #fff;
        border: 5px solid #fff;
        min-height: 14em;
       
        width: 23em;
        overflow: hidden;
        border-radius: 10px;
        margin: 20px;
        transition: 0.7s ease;
    }
    .project-card:hover{
           transform: scale(1.1);
}
.project-card:hover .project-image{
opacity: 0.7;
}
.project-image img{
width: 100%;
}
.project-info{
padding: 1em;
}
.project-category{
font-size: em;
color: black;
}
.project-title{
display: flex;
justify-content: space-between;
text-transform: uppercase;
font-weight: 800;
margin-top: 10px;
}
.more-details {
text-decoration: none;
color: #3a6cf4;
}
.more-details:hover{
color: #6f1ef0;
}
.content .icon{
font-size: 4.5em;
}
.contact .info h3{
color: black; 
}
.contact .info p{
font-size: 1.5em;
}
.footer{
background-color: black;
color: #fff;
padding: 1.25em;
display: flex;
justify-content: space-between;
}
footer-title {
font-size: 1.3em;
font-weight:600;
}
.footer-title span {
color: crimson;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}